/**
 * @name discordRecolorRecolored
 * @description Just overall, better than standard Discord, cz2ex+jm!'s edit of DiscordRecolor (originally by DevilBro)
 * @author cz2ex+jm! - fork of DiscordRecolor by DevilBro
 * @version 2.0
 * @authorId jstmax! (DiscordRecolor by DevilBro)
 * @invite 
 * @patreon jstmax
 * @website https://bit.ly/mx_info
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @updateUrl X
 *
 * @var checkbox			settingsicons_s			"User Settings Icons"					1
 * @var text				font_s				"General Font"						"gg sans", "Noto Sans"
 * @var text				accentcolor_s			"Blurple Color: [default] = 88, 101, 242"		88, 101, 242
 * @var text				accentcolor2_s			"Boost Pink Color: [default] = 255, 115, 250"		255, 115, 250
 * @var text				linkcolor_s			"Link Color: [default] = 0, 176, 244"			0, 176, 244
 * @var text				mentioncolor_s			"Mentioned Color: [default] = 250, 166, 26"		250, 166, 26
 * @var text				successcolor_s			"Success Color: [default] = 59, 165, 92"		59, 165, 92
 * @var text				warningcolor_s			"Warning Color: [default] = 250, 166, 26"		250, 166, 26
 * @var text				dangercolor_s			"Danger Color: [default] = 237, 66, 69"			237, 66, 69
 * @var text				textbrightest_s			"Text Color 1: [default] = 255, 255, 255"		255, 255, 255
 * @var text				textbrighter_s			"Text Color 2: [default] = 220, 221, 222"		222, 222, 222
 * @var text				textbright_s			"Text Color 3: [default] = 185, 187, 190"		185, 185, 185
 * @var text				textdark_s			"Text Color 4: [default] = 142, 146, 151"		140, 140, 140
 * @var text				textdarker_s			"Text Color 5: [default] = 114, 118, 125"		115, 115, 115
 * @var text				textdarkest_s			"Text Color 6: [default] = 79, 84, 92"			80, 80, 80
 * @var text				backgroundaccent_s		"Background Accent: [default] = 64, 68, 75"		50, 50, 50
 * @var text				backgroundprimary_s		"Background 1: [default] = 54, 57, 63"			30, 30, 30
 * @var text				backgroundsecondary_s		"Background 2: [default] = 47, 49, 54"			20, 20, 20
 * @var text				backgroundsecondaryalt_s	"Background 3: [default] = 41, 43, 47"			15, 15, 15
 * @var text				backgroundtertiary_s		"Background 4: [default] = 32, 34, 37"			10, 10, 10
 * @var text				backgroundfloating_s		"Background Elevated: [default] = 24, 25, 28"		0, 0, 0
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--settingsicons:		1;				/*	Use Settings Icons in User Settings: 1 = yes, 0 = no							*/
	--font:				"JetBrains Mono";		/*	General Font												*/
	
	--accentcolor: 			212, 72, 72;			/*	Blurple			-	default:	88,101,242		-	hex:	#5865f2		*/
	--accentcolor2: 		227, 117, 117;			/*	Boostpink		-	default:	255,115,250		-	hex:	#ff73fa		*/
	--linkcolor: 			168, 72, 72;			/*	Link Color		-	default:	0,176,244		-	hex:	#00b0f4		*/
	--mentioncolor: 		168, 72, 72;			/*	Highlight Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--successcolor: 		147, 171, 102;			/*	Success Color		-	default:	59,165,92		-	hex:	#3ba55c		*/
	--warningcolor: 		212, 198, 96;			/*	Warning Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--dangercolor:  		196, 110, 74;			/*	Danger Color		-	default:	237,66,69		-	hex:	#ed4245		*/
	
	--textbrightest: 		255, 255, 255;			/*	Text Color 1		-	default:	255,255,255		-	hex:	#ffffff		*/
	--textbrighter: 		222, 222, 222;			/*	Text Color 2		-	default:	220,221,222		-	hex:	#dcddde		*/
	--textbright: 			204, 204, 204;			/*	Text Color 3		-	default:	185,187,190		-	hex:	#b9bbbe		*/
	--textdark: 			94, 94, 94;			/*	Text Color 4		-	default:	142,146,151		-	hex:	#8e9297		*/
	--textdarker: 			64, 64, 64;			/*	Text Color 5		-	default:	114,118,125		-	hex:	#72767d		*/
	--textdarkest: 			31, 31, 31;			/*	Text Color 6		-	default:	79,84,92		-	hex:	#4f545c		*/
	
	--backgroundaccent: 		28, 19, 19;			/*	Background Accent	-	default:	64,68,75		-	hex:	#40444b		*/
	--backgroundprimary: 		13, 13, 13;			/*	Background 1		-	default:	54,57,63		-	hex:	#36393f		*/
	--backgroundsecondary: 		36, 36, 36;			/*	Background 2		-	default:	47,49,54		-	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	36, 36, 36;			/*	Background 3		-	default:	41,43,47		-	hex:	#292b2f		*/
	--backgroundtertiary: 		38, 38, 38;			/*	Background 4		-	default:	32,34,37		-	hex:	#202225		*/
	--backgroundfloating: 		38, 38, 38;				/*	Background Elevated	-	default:	24,25,28		-	hex:	#18191c		*/
}
